.exercise, .exercise__completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 50px;
  background-color: var(--main-mid-color);
  box-shadow: 0 0 5px 1px #00000030;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;

  &::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../../../svg/completed.svg) no-repeat center;
    background-size: 100%;
    opacity: 0.25;
    filter: brightness(50%);
  }
}

.exercise__completed {
  color: #ffffff60;

  &::after {
    opacity: 1;
    filter: brightness(150%);
  }
}