@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;900&display=swap');

:root {
  --main-dark-color: #805146;
  --main-mid-color: #915E53;
  --main-light-color: #FFCDB1;
  --green: #379173;
  --pink: #C86E8C;
  --orange: #FF9F56;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  background: transparent;
  overflow-x: hidden;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: #ffffff20;

  &::-webkit-scrollbar {
    background-color: var(--main-dark-color);
    width: 12px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--main-light-color);
    border-radius: 15px;
    border: 3px solid var(--main-dark-color);

    &:hover {
      background-color: white;
    }
  }
}

body {
  background-color: var(--main-dark-color);
}

button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  box-shadow: 0 0 5px 1px var(--main-dark-color);
  cursor: pointer;

  &:hover {
    filter: brightness(110%);
  }

  &:active {
    filter: brightness(100%);
  }
}

.appearance {
  animation: appearance-animation 0.5s linear 1;

  @keyframes appearance-animation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

.disappearance {
  animation: disappearance-animation 0.25s linear 1;
  opacity: 0;

  @keyframes disappearance-animation {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
}
