.start__page {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 4px;
  min-height: 100dvh;

  @media (max-width: 501px) {
    padding: 10px;
  }

  p {
    max-width: 500px;
    text-align: center;
    font-size: 18px;
  }

  h3 {
    color: var(--main-light-color);
    text-align: center;
  }

  button {
    width: 100%;
    max-width: 400px;
    background-color: var(--pink);
    cursor: pointer;
  }
}