.welcome__page {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 5px;
  width: 100vw;
  height: 100dvh;
  background: var(--main-dark-color) url(/welcome-page-background.jpg) no-repeat top left;
  background-size: cover;
  cursor: default;

  h1 {
    font-size: calc(40px + 3vw);
    font-weight: 900;
    color: var(--main-light-color);
    text-shadow: 0 0 10px var(--main-dark-color), 0 0 10px var(--main-dark-color), 0 0 10px var(--main-dark-color);
    text-align: center;
  }

  button:nth-child(2) {
    background-color: var(--green);
  }

  button:nth-child(3) {
    background-color: var(--orange); 
  }
}